@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.master-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    flex-basis: 0;
    background-size: 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to left, 
        transparent,
        rgba(0, 0, 0, 0.5) -50%,
        #000 100%
    ), 
    url(Jarvis.png);
}

.college-logo {
    padding-top: 10px;
    padding-left: 10px;
    align-self: flex-start;
}

.content-text {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: xx-large;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 800;
}

.button-div {
    align-self: center;
    margin-top: 30px;
}


.logo-div {
    display: flex;
    justify-content: space-between;
}

.mct-logo {
    padding-top: 10px;
    padding-right: 10px;
}

.jarvis-full-logo {
    width: 10rem;
    height: 10rem;
}

.jarvis-div {
    align-self: center;
    margin-top: 40px;
}


@media only screen and (max-width: 600px) {
    .master-div {
        background-size: 80%;
    }
    .college-logo {
        width: 200px;
        height: 50px;
        padding-top: 7px;
    }

    .para-div {
        margin-top: 50px;
        line-height: 1.5;
        align-self: center;
    }

    .mct-logo {
        width: 120px;
        height: 40px;
    }

    .para-div p {
        font-size: x-large;
    }

    .c-checkbox:checked + .c-formContainer .c-form {
        width: 30.5em;
    }
}



@media only screen and (min-width: 1200px) {
    .master-div {
        background-size: 50%;
    }

    .college-logo {
        width: 300px;
        height: 65px;
        
    }
    .mct-logo {
        width: 170px;
        height: 60px;
    }

    .para-div {
        margin-top: 50px;
        width: 800px;
        line-height: 1.5;
        align-self: center;
    }

    .c-checkbox:checked + .c-formContainer .c-form {
        width: 37.5em;
    }
    
}


@media only screen and (min-width: 700px) {
    .master-div {
        background-size: 50%;
    }

    .college-logo {
        width: 300px;
        height: 65px;
        
    }
    .mct-logo {
        width: 170px;
        height: 60px;
    }

    .para-div {
        margin-top: 50px;
        width: 800px;
        line-height: 1.5;
        align-self: center;
    }

    .c-checkbox:checked + .c-formContainer .c-form {
        width: 37.5em;
    }
    
}